{% extends "BlogCoreBundle::layout.html.twig" %} 

{% block body %}

    <title>Erreur : {{ status_text }}</title>
  <div class="well">
    <div class="text-center">
    <h1>Oops! Une erreur est survenue ("{{ status_code }} {{ status_text }}")</h1>
   </div> 
    </div>
    <div class="alert alert-info text-center">
        <h3>Nous vous invitons à retourner à l'accueil ;) !</h3>
        <span class="pull-right"><em>Jean Forteroche</em></span>
    </div>

  
{% endblock %}
